<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue.js</title>
<meta charset="utf-8" />
</head>
<body>

<!-- <div id="app">
    <input type="text" v-on:input="setMessage" />
    <p>{{message}}</p>
</div>


<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        },
        methods: {
            setMessage: function(event){
                this.message = event.target.value;
            }
        }
    })
</script> -->

<!-- <div id="app">
    <p><input type="text" v-model="company" /></p>
    <ul>
      <li v-for="phone in filteredList">
        <p>{{ phone.title }} - {{ phone.company }}</p>
    </li>
    </ul>
</div> -->



<div id="app">
    <select v-model="selectedType">
      <option value="type1">Type 1</option>
      <option value="type2">Type 2</option>
    </select>
    
    <select v-model="selectedSize">
      <option value="size1">Size 1</option>
      <option value="size2">Size 2</option>
    </select>
    
    <ul>
      <li v-for="item in computed_items">
        <span>{{ item.name }}</span>
        <span>{{ item.type }}</span>
        <span>{{ item.size }}</span>
      </li>
    </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
    new Vue({
  el: '#app',
  data: {
    selectedType: '',
    selectedSize: '',
    items: [
      {
        name: 'name1',
        type: 'type1',
        size: 'size1'
      },
      {
        name: 'name2',
        type: 'type2',
        size: 'size2'
      },
      {
        name: 'name3',
        type: 'type1',
        size: 'size1'
      },
      {
        name: 'name4',
        type: 'type2',
        size: 'size2'
      }
    ]
  },
  computed: {
    computed_items: function () {
      let filterType= this.selectedType,
          filterSize = this.selectedSize
      return this.items.filter(function(item){
        let filtered = true
        if(filterType && filterType.length > 0){
          filtered = item.type == filterType
        }
        if(filtered){
          if(filterSize && filterSize.length > 0){
            filtered = item.size == filterSize
          }
        }
        return filtered
      })
    }
  }
})
</script>




<!-- <script src="https://unpkg.com/vue"></script> -->
<!-- <script>
    var app = new Vue({
        el: '#app',
        data: {
            company: '',
            phones: [
                {title:'iPhone 7', company:'Apple'}, 
                {title:'iPhone 6S', company:'Apple'},
                {title:'Galaxy S8', company:'Samsung'},
                {title:'Galaxy S7 Edge', company:'Samsung'},
                {title:'Nokia N8', company:'HMD Global'}]
        },
        computed:{
            filteredList: function(){
                var comp = this.company;
                return this.phones.filter(function (elem) {
                 
                    if(comp=='') return true;
                    else return elem.company.indexOf(comp) > -1;
                })
            }
        }
    });
</script> -->
</body>
</html>